.idBox{
    border: solid black;
    margin:6px; 
}

.picture{
   border-radius:50%;
   border: solid black;
   width: 140px; 
   height: 140px;
   margin-left:620px; 
}

.innerBox {
    border:solid red;
    height:150px;
    width:400px;
    margin-left:33%;
    margin-bottom:3%;
}

.fullname, .jobtitle{
    text-align:center;
    color:darkblue;
}

.inforContainer,.contactContainer{
text-align:center;

}

.left {
    width:100%;
    margin:4%;
    background-color:lightslategrey;
    height:auto;
     }

.line{
    width:200px;
    background-color:lightslategrey;  
}

.icon{
    border-width:.2px;
    border-radius:50%;
    height:20px;
    width:20px;
    display:flex;
    margin:50px;
    }

.textr{
    text-align:right;
   padding:1%;
   padding-right:20%;
   
}

    .inforContainer,.worksummaryContainer{
        display: flex;
        text-align:center;
    }

    .worksummaryContainer{
        width:200%;
    }
    
.right{
    width:200%;
    margin:6%;
    padding:2em;
    background-color:white;
    height:auto;
    border: solid yellow;
    
     }

.biglotsContainer{
    text-align:right;
}

.wayfairContainer{
    text-align:right;
}

.iccon{
    border-width:.2px;
    border-radius:50%;
    height:20px;
    width:20px;
    display:flex;
    margin:50px;
}

.bulletpoint,.biglotsContainer{
    padding-right:30%;
}

.bulletpoint,.wayfairContainer{
    padding-right:0.5%;
}
